<!--time I have spend 1.5 +1.00 +1.5-->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="testTask">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="data.js"></script>
    <script src="Libraries/angular.js"></script>
    <script src="Libraries/lodash.js"></script>
    <script src="angularModule.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="Libraries/bootstrap-theme.css" rel="stylesheet"/>
    <link href="Libraries/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="mapManager.js"></script>

</head>
<body ng-controller="testTaskCtrl">
<div class="col-md-3">
    <div class="list">
        <ul>
            <li ng-repeat="lv1 in tree" ng-class="lv1.clicked?'selected':''"
                ng-click="levelSelected(lv1);">{{lv1.text}}
                <ul class="treeline">
                    <li ng-repeat="lv2 in lv1.array" ng-class="lv2.clicked?'selected':''"
                        ng-click="$event.stopPropagation(); levelSelected(lv2)">{{lv2.text}}
                        <ul>
                            <li ng-repeat="lv3 in lv2.array" ng-class="lv3.clicked?'selected':''"
                                ng-click="$event.stopPropagation(); levelSelected(lv3)">{{lv3.text}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-6" id="mapid">
    <script>
        map();
    </script>
</div>
<div class="col-md-3">
    <div class="list">
        <ul>
            <li ng-repeat="item in selectedMarkersList">{{item.text}}
                <button class="deleteButton" ng-click="deleteItem(item)">-</button>
            </li>
        </ul>
    </div>
</div>
</body>
</html>